html{
    text-align: center;
    background-color: gainsboro;
    font-size: 15px;
}
    h1{
        font-size: 25px;
    }
    figure{
        border: 4px green solid;
    }
    section{
        border: 4px blue solid;
    }
